<?xml version="1.0"?>
<configuration>

  <location path="default.aspx">
        <system.web>
          <authorization>  
            <allow roles="restorant_order_manager"/>
            <deny users="?"/>
          </authorization>
        </system.web>
      
</location>
   
</configuration>
