<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <handlers>
      <add path="dev.aspx" name="DeviceManageHandler" verb="GET" type="BANURNS.handlers.DevHandler, BANURNS" />
      <add path="mob.aspx" name="MovileAppHandler" verb="POST,GET" type="BANURNS.handlers.MobileHandler, BANURNS" />
      <add path="UCCI.aspx" name="UploadCustomerCatalogImage" verb="POST" type="BANURNS.handlers.UploadCatalogCover, BANURNS" />
      <add path="USCCI.aspx" name="UploadCustomerSubCatalogImage" verb="POST" type="BANURNS.handlers.UploadSubCatalogImage, BANURNS" />
      <add path="MHDUI.aspx" name="UploadMHDImage" verb="POST" type="BANURNS.handlers.MHDUploadImage, BANURNS" />
      <!--MHDSyte-->
      <add path="mhdMainPage.aspx" name="MHDMainPage" verb="GET" type="MHD.MHDSyteMinePageHandler, MHD" />
    </handlers>
    <!--<security>
      <requestFiltering>
        <fileExtensions>
          <add allowed="true" fileExtension=".dd"/>
        </fileExtensions>
      </requestFiltering>
    </security>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <compilation targetFramework="4.5" tempDirectory="D:\vhosts\skladbanurns.kz\tmp" />
    <httpRuntime targetFramework="4.5" maxRequestLength="524288000" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" defaultUrl="login.aspx" loginUrl="login.aspx" protection="All" timeout="2880">
      </forms>
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="BANURNS" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="BANURNS" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="BANURNS" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="BANURNS" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <authorization>
      <allow users="?" />
    </authorization>
  </system.web>
  <location path="dev.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Persist Security Info=False;User ID=skladban_admin;Password=VeAXcbikvae63#$6;Initial Catalog=skladban_banurns;Server=srv-mssql01.ps.kz" providerName="System.Data.SqlClient" />
    <add name="BANURNSEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-mssql01.ps.kz;initial catalog=skladban_banurns;user id=skladban_admin;password=VeAXcbikvae63#$6;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>